@model SacramentMeetingPlanner.Models.Planner

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Planner</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MeetingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MeetingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConductingLeader)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConductingLeader)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpeningSong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpeningSong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpeningPray)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpeningPray)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SacramentHymn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SacramentHymn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpeakerSubject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpeakerSubject)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClosingSong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClosingSong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClosingPray)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClosingPray)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
