@model IEnumerable<SacramentMeetingPlanner.Models.Planner>

@{
    ViewData["Title"] = "Index";
}

<h1>Planners</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Planners" asp-action="Index">
    <p>
        Preside Leader: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MeetingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PresideLeader)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConductingLeader)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpeningSong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpeningPray)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SacramentHymn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClosingSong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClosingPray)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MeetingDate)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PresideLeader)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConductingLeader)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpeningSong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpeningPray)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SacramentHymn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClosingSong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClosingPray)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
