@page
@model MegaDeskASP.Pages.Quotes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="container-list">
    <div class="filter">
        <form>
            <select class="form-select" asp-for="optionSelected" asp-items="Model.SortOptions">
                <option value="">clear</option>
            </select>
            <input type="text" asp-for="SearchString" placeholder="Name"/>
            <input type="submit" value="Filter" class="btn-filter"/>

        </form>
    </div>
    <div class="flex-center margin-side">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Quotes[0].CustomerName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Quotes[0].Width)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Quotes[0].Height)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Quotes[0].SurfaceMaterial)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Quotes[0].Drawer)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Quotes[0].ProductionTime)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Quotes[0].DateCreated)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Quotes[0].Price)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Quotes)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CustomerName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Width)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Height)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SurfaceMaterial)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Drawer)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductionTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateCreated)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td class="controls">
                                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
           </div>
    </div>
    <div class="flex-center nav-list">
        <a asp-page="Create">Create New</a>
    </div>
</div>




